img {
    width: 75%;
}

#NavImg {
    width: 5%;
}

.loginPageError {
    color: red;
    /* display: none; */
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 85px);
    grid-template-rows: repeat(var(--rows), 18px);
    gap: 10px;
}

.box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .grid-button{
    background-color: white;
} */

.grid-button:hover {
    background-color: red;

    .no-underline-link {
        text-decoration: none;
    }

    .no-underline-link:hover {
        opacity: 10;
    }
}